.so-widget-sow-google-map-default-4817fd46f79c-101 .sow-google-map-canvas {
  height: 375px;
}
.so-widget-sow-google-map-default-4817fd46f79c-101 .sow-google-map-canvas img {
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  max-width: none;
  zoom: normal;
}