/*------------------------------------*\
    Local variables
\*------------------------------------*/

//
// Color system
//

$gray-100: #f4f4f4;
$gray-200: #eeeeee;
$gray-300: #dddddd;
$gray-400: #cccccc;
$gray-500: #ababab;
$gray-600: #999999;
$gray-800: #333333;
$black: #000000;

$blue: #6989ab;
$red: #e10000;
$yellow: #ffb800;
$green: #57ad68;
$cyan: #17a2b8;

$theme-colors: (
	primary: $black,
	secondary: $gray-600,
	success: $green,
	info: $blue,
	warning: $yellow,
	danger: $red,
	light: $gray-100,
	dark: $gray-800
);

$yiq-contrasted-threshold: 155;
$yiq-text-dark: $black;

$primary-custom-icon-color: $red;
$secondary-custom-icon-color: $black;

// Body
//
// Settings for the `<body>` element.

$body-color: $black;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// Rem px ratio Function
@function ptr($px) {
	@return ($px / $rem-px-ratio) + rem;
}

/* stylelint-disable value-keyword-case  */
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$primary-font: $font-family-sans-serif;
$secondary-font: $font-family-sans-serif;
/* stylelint-enable  */

$rem-px-ratio: 20;

$line-height-base: 1.55;

$h1-font-size: ptr(42);
$h2-font-size: ptr(36);
$h3-font-size: ptr(30);
$h4-font-size: ptr(24);
$h5-font-size: ptr(20);
$h6-font-size: ptr(18);

$headings-font-weight: bold;
$headings-line-height: 1.15;
$headings-color: $black;

$content-spacing-base: ptr(50);

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: 2px;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight: bold;
$btn-padding-y: ptr(17);
$btn-padding-x: ptr(30);
$btn-padding-y-sm: ptr(10);
$btn-padding-x-sm: ptr(19);
$btn-padding-y-lg: ptr(22);
$btn-padding-x-lg: ptr(38);
$btn-border-radius: 2px;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;


// ProteusThemes variables
//
// Custom variables which are not part of the Bootstrap.

// Transitions
$primary-transition: all 100ms ease-out;

// Z-index
$zindex-over-admin-bar: 100100;
$zindex-woondershop-overlay: 900;

// Font Awesome path
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
