/* Blog navigation */
.blog-navigation {
	width: 100%;
	margin-bottom: ptr(60);

	@include media-breakpoint-up(md) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// Search
	.search-form {
		position: relative;
		border-radius: ptr(50);
		margin-bottom: ptr(30);

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}

		label {
			margin-bottom: 0;
			width: 100%;
		}

		&__field {
			font-size: ptr(15);
			color: theme-color('primary');
			border-color: $gray-300;
			border-radius: ptr(50);
			padding: ptr(12) ptr(45) ptr(11) ptr(60);

			@include media-breakpoint-up(lg) {
				width: ptr(445);
			}

			&::placeholder {
				color: $gray-600;
			}

			&:hover {
				border-color: $gray-600;
			}

			&:focus {
				border-color: theme-color('primary');
				box-shadow: none;
			}
		}

		&__submit {
			position: absolute;
			font-size: ptr(21);
			color: theme-color('primary');
			background-color: transparent;
			border: 0;
			border-radius: ptr(60);
			left: 0;
			top: 0;
			padding: ptr(7) ptr(10) ptr(8) ptr(25);
		}
	}

	&__categories {
		display: flex;
		align-items: center;
	}

	// Categories
	.blog-categories {
		font-size: ptr(13);
		font-weight: bold;
		letter-spacing: .5px;
		text-transform: uppercase;

		&__title {
			margin-right: ptr(18);
			margin-bottom: 0;
		}

		&__button {
			position: relative;
			display: flex;
			border: 1px solid $gray-300;
			border-radius: 2px;
			width: 100%;

			@include media-breakpoint-up(lg) {
				width: auto;
				min-width: ptr(235);
			}

			&:focus,
			&:hover {
				.blog-categories {
					&__toggle {
						background-color: $gray-100;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						box-shadow: 0 6px 15px rgba(92, 121, 143, .3), 0 0 5px rgba(92, 121, 143, .22), 0 10px 45px rgba(0, 0, 0, .1);
						margin: -1px;

						&::after {
							opacity: 1;
							visibility: visible;
						}
					}

					&__dropdown {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		&__current-category {
			flex: 1 0 auto;
			background-color: #ffffff;
			border-radius: 4px;
			padding: ptr(15) ptr(25) ptr(13);
		}

		&__toggle {
			position: relative;
			background-color: #ffffff;
			border: 1px solid transparent;
			border-radius: 4px;
			box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			width: ptr(60);
			transition: $primary-transition;

			&::before {
				position: absolute;
				content: '\f107';
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				top: calc(50% - #{ptr(10)});
				right: calc(50% - #{ptr(4)});
			}

			&::after {
				position: absolute;
				content: '';
				opacity: 0;
				visibility: hidden;
				z-index: 15;
				background-color: $gray-100;
				height: ptr(25);
				left: -1px;
				right: -1px;
				bottom: ptr(-12);
			}
		}

		&__dropdown {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			z-index: 10;
			background-color: $gray-100;
			border-radius: 2px;
			border-top-right-radius: 0;
			box-shadow: 0 6px 15px rgba(92, 121, 143, .3), 0 0 5px rgba(92, 121, 143, .22), 0 10px 45px rgba(0, 0, 0, .1);
			padding: ptr(12.5) 0;
			top: 100%;
			left: 0;
			right: -1px;
			transition: $primary-transition;

			a {
				display: block;
				padding: ptr(12.5) ptr(25);
				transition: $primary-transition;

				&:focus,
				&:hover {
					text-decoration: none;
					background-color: $gray-200;
				}
			}
		}
	}
}
