/* Meta */
.meta {
	display: flex;
	flex-direction: column;

	@include media-breakpoint-up(sm) {
		flex-flow: row wrap;
		align-items: center;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			&::after {
				@include media-breakpoint-up(sm) {
					content: '•';
					color: $gray-600;
					margin: 0 ptr(14);
				}
			}
		}

		&--author {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: ptr(5);

			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
			}

			.avatar {
				border-radius: 50%;
				margin-right: ptr(20);
			}

			.author-text {
				margin-right: ptr(5);
			}
		}
	}
}
