/* Mobile Filter */
.mobile-filter {
	@include media-breakpoint-down(md) {
		position: fixed;
		background-color: #ffffff;
		top: 0;
		bottom: 0;
		left: 50px;
		right: 0;
		padding: ptr(22) ptr(30) ptr(30);
		transform: translateX(100%);
		overflow-y: scroll;
		transition: transform 150ms ease-out;
		z-index: 10;
	}

	&__close {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		line-height: 50px;
		color: $black;
		background-color: $gray-600;
		border: 0;
		width: 50px;
		height: 50px;
		top: 0;
		left: 0;
		transition: visibility 300ms ease-out, opacity 300ms ease-out;
		cursor: pointer;

		&:hover {
			background-color: lighten($gray-600, 6);
		}
	}
}
